body {
  margin: 0;
  padding: 0;
  font-family:  "Helvetica Neue", sans-serif;
}

.form-login {
  max-width: 400px;
}

.list-group, .adder-container, .alert {
  max-width: 600px;
  margin: 0 auto;
}

.sm-header, .sm-btn {
  display: none;
}

@media only screen and (max-width:768px) {
  .lg-header, .lg-btn {
    display: none;
  }
  .sm-header {
    display: flex;
  }
  .sm-btn {
    display: block;
  }
}