@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show {
  animation: fadeIn 0.5s;
}
.jumbotron {
  max-width: 400px;
  background-color: rgb(157, 202, 232);
  box-shadow: 10px 10px 5px grey;
}


body {  
  margin: 0;
  padding: 0;
  font-family:  "Helvetica Neue", sans-serif;
}

.form-login {
  max-width: 400px;
}

.list-group, .adder-container, .alert {
  max-width: 600px;
  margin: 0 auto;
}

.sm-header, .sm-btn {
  display: none;
}

@media only screen and (max-width:768px) {
  .lg-btn {
    display: none;
  }
  .sm-btn {
    display: block;
  }
  li, h5, .alert {
    font-size: 90%;
  }
}